<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" content="${_csrf.token}">
    <meta name="_csrf_header" content="${_csrf.headerName}">
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/script.js"></script>
</head>
<body>
<div class="container">
    <div class="btn-container">
        <a href="/mySongs" class="btn btn-custom">My Songs</a>
        <a href="/favorite" class="btn btn-custom">My Favorites</a>
        <a href="/add" class="btn btn-custom">Add Song</a>
        <form action="/auth/signout" method="post" class="d-inline">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit" class="btn btn-logout">Logout</button>
        </form>
    </div>
    <h1 class="mt-5">All Songs</h1>
    <form action="/search" method="get" class="mb-4">
        <div class="form-group">
            <input type="text" name="query" class="form-control" placeholder="Search by artist, genre, or title">
        </div>
        <button type="submit" class="btn btn-custom">Search</button>
    </form>
    <ul class="list-group mt-3">
        <th:block th:each="song : ${songs}">
            <li class="list-group-item">
                <div class="content">
                    <img th:src="${song.imageURL}" alt="Album Cover"/>
                    <div class="text-content">
                        <h5 th:text="${song.title}">Track Title</h5>
                        <p th:text="${song.artist}">Artist</p>
                        <p th:text="${song.genre}">Genre</p>
                        <p>Likes: <span th:text="${song.likes}">0</span></p>
                    </div>
                </div>
                <audio class="audio-player" controls>
                    <source th:src="@{/uploads/{filename}(filename=${song.getAudioPath()})}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <div class="button-group">
                    <form action="/favorite/add" method="post" class="d-inline mt-2">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="hidden" name="songId" th:value="${song.getId()}"/>
                        <button type="submit" class="btn btn-custom">Add to Favorites</button>
                    </form>
                    <button class="comment-toggle">Show Comments</button>
                </div>

                <div th:id="'song-' + ${song.getId()}" class="comment-section mt-4">
                    <div class="comment-content">
                        <th:block th:each="comment : ${song.getComments()}">
                            <div class="comment">
                                <p th:text="${comment.username}">Username</p>
                                <p th:text="${comment.content}">Comment Content</p>
                                <p class="text-muted" th:text="${comment.createdAt}">Comment Date</p>
                            </div>
                        </th:block>
                        <form class="comment-form mt-3" data-song-id="${song.getId()}">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <input type="hidden" name="songId" th:value="${song.getId()}"/>
                            <textarea name="content" placeholder="Add a comment..."></textarea>
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>
