<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tracks</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">My Tracks</h1>
    <ul class="list-group mt-3">
        <th:block th:each="song : ${songs}">
            <li class="list-group-item">
                <div class="content">
                    <img th:src="${song.imageURL}" alt="Album Cover"/>
                    <div class="text-content">
                        <h5 th:text="${song.title}">Track Title</h5>
                        <p th:text="${song.artist}">Artist</p>
                        <p th:text="${song.genre}">Genre</p>
                        <p>Likes: <span th:text="${song.likes}">0</span></p>
                    </div>
                </div>
                <audio class="audio-player" controls>
                    <source th:src="@{/uploads/{filename}(filename=${song.getAudioPath()})}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <div class="button-group">
                    <form action="/delete" method="post" class="d-inline mt-2">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="hidden" name="_method" value="DELETE"/>
                        <input type="hidden" name="songId" th:value="${song.id}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <a th:href="@{/edit(songId=${song.id})}"  class="btn btn-warning">Edit</a>
                </div>
            </li>
        </th:block>
    </ul>
    <a href="/" class="btn btn-secondary mt-3">Back to Home</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
