<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tracks</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/profile.js"></script>
    <script src="/js/musicPlayer.js"></script>
</head>
<body>
<div class="container">
    <div class="profile-header" th:style="'background-image: url(' + ${user.backgroundUrl} + ')'">
        <img th:src="${user.avatarURL}" alt="Profile avatar">
        <div class="profile-info">
            <h4 th:text="${user.username}">Username</h4>
            <p th:text="${user.country}">Country</p>
            <p>followers: <span th:text="${user.followers.size()}"></span></p>
        </div>
    </div>
    <button th:if="${isOwner}" id="editProfileButton" class="btn btn-custom">Edit Profile</button>
    <button id="showFollowersButton" class="btn btn-custom-primary">Show Followers</button>
    <button id="showFollowingButton" class="btn btn-custom-primary">Show Following</button>
    <form th:if="${!isFollow and !isOwner}" th:action = "@{/profile/follow/{targetUserId}(targetUserId=${userId})}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit" class="btn btn-custom">Follow</button>
    </form>
    <form th:if="${isFollow and !isOwner}" th:action = "@{/profile/unfollow/{targetUserId}(targetUserId=${userId})}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit" class="btn btn-custom">Unfollow</button>
    </form>
    <div class="profile-edit-form" id="editProfileForm" style="display: none;">
        <form action="/profile/update" method="post" enctype="multipart/form-data">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="form-group">
                <label for="avatarUrl">AvatarUrl:</label>
                <input type="text" id="avatarUrl" name="avatarUrl" th:value="${user.avatarURL}">
            </div>
            <div class="form-group">
                <label for="backgroundUrl">BackgroundUrl:</label>
                <input type="text" id="backgroundUrl" name="backgroundUrl" th:value="${user.backgroundUrl}">
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" th:value="${user.username}">
            </div>
            <div class="form-group">
                <label for="country">Country:</label>
                <input type="text" id="country" name="country" th:value="${user.country}">
            </div>
            <button type="submit" class="btn btn-custom">Save Changes</button>
        </form>
    </div>
    <div id="followingForm" style="display: none;">
        <h4>Following</h4>
        <ul id="followingList" class="user-list">
            <th:block th:each="followee : ${following}">
                <li class="user-item d-flex align-items-center">
                    <img th:src="${followee.avatarURL}" alt="Avatar" class="avatar-img">
                    <a th:href="@{/profile/{id}(id=${followee.id})}">
                        <span th:text="${followee.username}" class="username-text">Username</span>
                    </a>
                </li>
            </th:block>
        </ul>
    </div>
    <div id="followersForm" style="display: none;">
        <h4>Followers</h4>
        <ul id="followersList" class="user-list">
            <th:block th:each="follower : ${followers}">
                <li class="user-item d-flex align-items-center">
                    <img th:src="${follower.avatarURL}" alt="Avatar" class="avatar-img">
                    <a th:href="@{/profile/{id}(id=${follower.id})}">
                        <span th:text="${follower.username}" class="username-text">Username</span>
                    </a>
                </li>
            </th:block>
        </ul>
    </div>

    <h1 class="mt-5">My Tracks</h1>
    <ul class="list-group mt-3">
        <th:block th:each="song : ${songs}">
            <li class="list-group-item">
                <div class="content">
                    <img th:src="${song.imageURL}" alt="Album Cover"/>
                    <div class="text-content">
                        <h5 th:text="${song.title}">Track Title</h5>
                        <p th:text="${song.artist}">Artist</p>
                        <p th:text="${song.genre}">Genre</p>
                        <p>Likes: <span th:text="${song.likes}">0</span></p>
                    </div>
                </div>
                <audio id="audio-player" class="audio-player" controls th:data-song-name="${song.title}"
                       th:data-song-image="${song.imageURL}" th:data-song-artist="${song.artist}"
                       th:data-song-id="${song.id}">
                    <source th:src="@{/uploads/{filename}(filename=${song.getAudioPath()})}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <form th:unless="${isOwner}" action="/favorite/add" method="post" class="d-inline mt-2">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="hidden" name="songId" th:value="${song.id}"/>
                    <button type="submit" class="btn btn-custom">Add to Favorites</button>
                </form>
                <div th:if="${isOwner}" class="button-group">
                    <form action="/delete" method="post" class="d-inline mt-2">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="hidden" name="_method" value="DELETE"/>
                        <input type="hidden" name="songId" th:value="${song.id}">
                        <button type="submit" class="btn btn-logout">Delete</button>
                    </form>
                    <a th:href="@{/edit(songId=${song.id})}"  class="btn btn-custom">Edit</a>
                </div>
            </li>
        </th:block>
    </ul>
    <a href="/" class="btn btn-custom">Back to Home</a>
</div>
<div class="music-player">
    <div class="d-flex align-items-center">
        <img id="current-album-cover" src="" alt="Album Cover" class="album-cover">
        <div class="song-info ml-3">
            <h2 id="current-song-name" class="song-name">Song Title</h2>
            <p id="current-song-artist" class="song-artist">Artist Name</p>
        </div>
    </div>
    <div class="controls-wrapper">
        <div class="controls">
            <button id="prev-button" class="btn-audio"><i class="ph-bold ph-skip-back"></i></button>
            <button id="play-pause-button" class="btn-audio"><i id="play-pause-icon" class="ph-bold ph-play"></i></button>
            <button id="next-button" class="btn-audio"><i class="ph-bold ph-skip-forward"></i></button>
            <button id="repeat-button" class="btn-audio"><i class="ph-bold ph-repeat"></i></button>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
